:root{
  --background: #f9e5c1;
  --prim: #ca9558;
  --sec: #5a3830;
  --ter: #9b3c27;
  --footer: #8a3521;
  --a: #7a3b2e;
  --text: #faecd7;
}

html {
  height: auto;
  width: 100%;
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
}

body{
  height: 100%;
  padding-top: 5px;
  margin-left: 0;
  margin-right: 0;
}

#welcome{
  text-align: center;
  margin-top: 5%;
}

#welcome p{
  font-weight: 500;
  margin: 5px 30px 12px 30px;
  color: var(--prim);
  font-size: 10;
}

#welcome img{
  max-width: 380px;
  height: auto;
}

.header{
  display: flex;
  justify-content:space-evenly;
  margin-left: 100px;
  margin-right: 100px;
}

.header a{
  text-decoration: none;
  color: var(--a);
  font-size: 17px;
  font-weight: 500;
  transition: 0.1s;
}

.header a:hover{
  color: var(--ter);
  border-bottom: 3px solid var(--ter);
}

.toastBtn img{
  margin-top: 8px;
  max-width: 250px;
}

.image{
  position: absolute;
  opacity: 1;
  transition: 0.3s;
}

.image:hover{
  opacity: 0;
}

#footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  display: block;
  text-align: center;
  background-color: #8a3521;
  color: var(--text);
}

.footTxt h3{
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 0;
}

.footTxt p{
  margin-top: 0;
  font-size: 10px;
  margin-bottom: 10;
}

/* js - poster result */
#posterRes h2{
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
  color: var(--a);
}

#result{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.posterRslt{
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  margin: 10px;
}

@media (max-width: 1100px) {
  .posterRslt{
    width: 50vw;
  }
}

.download-icon{
  position: fixed;
}

.download-icon img{
  width: 30px;
  height: auto;
}

#toastOpt {
  display: flex;
  margin: auto;
  justify-content:center;
  max-width: 80%;
}

#toastOpt img{
  max-width: 80px;
  margin: 20px 10px 0 10px;
  display: block;
}

#toastOpt a{
  color: var(--a);
  transition: 0.2s;
}

.download {
  display: inline-block;
}

.download img {
  max-width: 100px;
  transition: 0.4s
}

.download img:hover{
  max-width: 100px;
  cursor: pointer;
}

#otherToast a{
  text-decoration: none;
  margin: 20px;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: var(--a);
}

#otherToast a:hover{
  color: var(--ter);
  font-weight: 500;
}          

/* about */
.first-sect{
  margin-top: 7px;
  padding: 5px;
}

.title h3{
  font-size: 20px;
  margin: 20px 0 0 0;
  color: var(--a);
  text-align: center;
}

.title h2{
  font-size: 15px;
  margin: 10px 0 0 0;
  color: var(--sec);
  text-align: center;
}

.title h1{
  font-size: 25px;
  margin: 0 5px 5px 5px;
  text-align: center;
  color: var(--sec);
}

.open p{
  font-size: 13px;
  font-weight: medium;
  text-align: justify;
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
  color: var(--a);
  padding: 20px;
  border-radius: 20px;
  background-color: #fbefd8 ;
}

.creators {
  padding-left: 20px;
  padding-right: 20px; 
  display: grid;
  grid-template-columns: 1fr;
}

.slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  justify-items: center;
}

@media (max-width: 1100px) {
  .slide {
    grid-template-columns: 1fr; 
  }
}

.card {
  width: 300px;
  background-color: var(--a);
  margin: 0 30px 0 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  color:var(--text);
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.details {
  padding: 20px;
}

.card h3 {
  margin: 0;
  font-size: 18px;
}

.card p {
  margin: 0;
  font-size: 12px;
}

.button-cont{
  text-align: center;
}

.feedback-button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  text-decoration: none;
  background-color: var(--prim);
  color: var(--text);
  border-radius: 7px;
  transition: 0.5s;
  margin-top: 5%;
}

.feedback-button:hover {
  background-color: var(--a);
  box-shadow: 0 0 20px var(--a);
}

.home-sci{
    position:absolute;
    bottom: 40px;
    width: 170px;
    justify-content: space-between;
}

.icon{
  color: var(--text); 
  font-size: 40px;
}

.icon:hover{
  color: var(--prim);
}

/* quiz  */
#load img{
  max-width: 150px;   
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#quiz{
  text-align: justify;
}

.nar-style {
  font-size: 14px;
  font-weight: bold;
  color: var(--text);
  text-align: center;
  padding: 20px 30px 20px 30px;
  border-bottom: 1px solid #f9e5c1;
}

.ep-style{
  font-size: 13px;
  text-align: center;
  color: var(--text);
  margin: 20px 40px;
}

.option{
  font-size: 13px;
  color: var(--text);
  justify-content: center;
  margin: 0;
}

.option button {
  width: 100%;
  padding: 10px 5px 10px 5px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  background-color: #9B3C27;
  color: var(--text);
  justify-items: center;
}
