html {
  height: auto;
  width: 100%;
  padding: 10 10 10 10;
  background-color: #f9e5c1;
  font-family: "Poppins", sans-serif;
}

body{
  height: 100%;
  padding-top: 5px;
  margin-left: 0;
  margin-right: 0;
}

.header{
  display: flex;
  justify-content:space-evenly;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: none;
}

.header a{
  text-decoration: none;
  color: #7a3b2e;
  font-size: 17px;
  font-weight: 500;
  transition: 0.4s;
}

.header a:hover{
  color: #9b3c27;
  border-bottom: 3px solid #9b3c27
}

.menu img{
  padding-top: 23px;
  max-width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section{
  padding: 35px 0 0 0;
  bottom: 30px;
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 2 rem;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.slider{
  max-width: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.slide{
  width: 500%;
  display: flex;
}

.slide input{
  display: none;
}

.st{
  width: 20%;
/*   transition: 1s;  */
}

.st img{
  max-width: 350px;
  height: auto;
  border-radius: 20px;
}

#radio1:checked ~ .first{
  margin-left: 0;
 } 

#radio2:checked ~ .first{
  margin-left: -20%;
} 

#radio3:checked ~ .first{
  margin-left: -40%;
} 

#radio4:checked ~ .first{
  margin-left: -60%;
} 

#radio5:checked ~ .first{
  margin-left: -80%;
} 

#radio6:checked ~ .first{
  margin-left: -100%;
}

#radio7:checked ~ .first{
  margin-left: -120%;
}

#radio8:checked ~ .first{
  margin-left: -140%;
}

#radio9:checked ~ .first{
  margin-left: -160%;
}

#radio10:checked ~ .first{
  margin-left: -180%;
}

#radio11:checked ~ .first{
  margin-left: -200%;
}

#radio12:checked ~ .first{
  margin-left: -220%;
}

#radio13:checked ~ .first{
  margin-left: -240%;
}

#radio14:checked ~ .first{
  margin-left: -260%;
}

#radio15:checked ~ .first{
  margin-left: -280%;
}

#radio16:checked ~ .first{
  margin-left: -300%;
} 

.nav-m, .nav-auto{
  position: absolute;
  max-width: 350px;
  margin-top: -28px;
  display: flex;
  justify-content: center;
}

.nav-auto div{
  border: 2px solid #895634;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
  justify-content: center;
  margin: 0 5px 0 6px;
}

.m-btn{
  border: 2px solid #895634;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  justify-content: center;
  margin: 0 5px 0 6px;
}

.m-btn:hover{
  background-color: #562f15;
}

#radio1:checked ~ .nav-auto .a-b1{
  background-color: #562f15;
}
#radio2:checked ~ .nav-auto .a-b2{
  background-color: #562f15;
}
#radio3:checked ~ .nav-auto .a-b3{
  background-color: #562f15;
}
#radio4:checked ~ .nav-auto .a-b4{
  background-color: #562f15;
}
#radio5:checked ~ .nav-auto .a-b5{
  background-color: #562f15;
}
#radio6:checked ~ .nav-auto .a-b6{
  background-color: #562f15;
}
#radio7:checked ~ .nav-auto .a-b7{
  background-color: #562f15;
}
#radio8:checked ~ .nav-auto .a-b8{
  background-color: #562f15;
}
#radio9:checked ~ .nav-auto .a-b9{
  background-color: #562f15;
}
#radio10:checked ~ .nav-auto .a-b10{
  background-color: #562f15;
}
#radio11:checked ~ .nav-auto .a-b11{
  background-color: #562f15;
}
#radio12:checked ~ .nav-auto .a-b12{
  background-color: #562f15;
}
#radio13:checked ~ .nav-auto .a-b13{
  background-color: #562f15;
}
#radio14:checked ~ .nav-auto .a-b14{
  background-color: #562f15;
}
#radio15:checked ~ .nav-auto .a-b15{
  background-color: #562f15;
}
#radio16:checked ~ .nav-auto .a-b16{
  background-color: #562f15;
}
